/* src/index.css */
body {
  margin: 0;
  font-family: 'Sora', sans-serif; /* Using Sora throughout the application */
  color: var(--text-color); /* Default text color */
}

input, button, select, textarea {
  color: inherit; /* Inherit color from body */
  border-color: inherit; /* Inherit border color from body */
}

[data-theme="dark"] {
  --background-color: #192936; /* Dark theme background color */
  --text-color: #fff; /* White text for dark theme */
  --form-text-color: #fff; /* White form text for dark theme */
  --form-border-color: #fff; /* White form borders for dark theme */
  --card-background-color: #000; /* Black card background for dark theme */
  --card-border-color: #fff; /* White card borders for dark theme */
}

[data-theme="light"] {
  --background-color: rgb(237, 240, 242); /* Light theme background color */
  --text-color: #333; /* Darker text for light theme */
  --card-background-color: #fff;
  --card-border-color: #ccc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

input, button, select, textarea {
  color: var(--form-text-color);
  border-color: var(--form-border-color);
}

.card {
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  color: var(--text-color);
}
